body{
    background-color: rgba(25, 42, 86,1.0);
    font-family: 'Titillium Web', sans-serif;
}

.l-style{
    font-weight: 700;
    font-size: 40px;
    color:dodgerblue;
    border: 1px solid dodgerblue;
    padding: 10px;
    cursor: pointer;
}
.f-col{
    font-size: 90px;
    font-weight: 900;
    color: dodgerblue;
}